SDKROOT = iphoneos
ARCHS = $(ARCHS_STANDARD_32_BIT)
ARCHS[sdk=iphoneos*] = $(ARCHS_STANDARD_32_BIT), armv6
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
TARGETED_DEVICE_FAMILY = 1,2
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
GCC_THUMB_SUPPORT = NO
IPHONEOS_DEPLOYMENT_TARGET = 5.0
HEADER_SEARCH_PATHS = "$(SRCROOT)"
ALWAYS_SEARCH_USER_PATHS = YES
CLANG_CXX_LANGUAGE_STANDARD = gnu++0x
CLANG_CXX_LIBRARY = libc++
